*
{
    margin: 0;
    padding: 0;
}
.time-first
{
    font-size: 20px;
    font-weight: bold;
    margin-left: 150px;
    /* margin-top: 30px; */
}
.time
{
    margin-top: 10px;
    /* padding-top: 50px; */
}
.schedule
{
    color: rgb(199, 194, 194);
    font-size: 15px;
}
.container
{
    margin-top: 20px;
}
.text
{
    border: 1px  solid red;
}
/* input[type="text"]
{
    width: 80%;
    background-color: #e1ecf4;
    border: none;
    margin-left: 3px;
    margin-top: 30px;
    height: 20px;
    font-size: 9px;
    font-weight: bold;
    border-left: 3px solid #699ecc ;
} */
.text
{
    width: 61%;
    background-color: #e1ecf4;
    border: none;
    margin-left: 3px;
    margin-top: 30px;
    height: 20px;
    font-size: 9px;
    font-weight: bold;
    border-left: 3px solid #699ecc ;
}
.text1
{
    width: 30%;
    background-color: #e1ecf4;
    border: none;
    margin-left: 3px;
    margin-top: 30px;
    height: 37px;
    font-size: 9px;
    font-weight: bold;
    border-left: 3px solid #699ecc ;
}
.text2
{
    width: 61%;
    background-color: #e1ecf4;
    border: none;
    margin-left: 10px;
    margin-top: 30px;
    height: 20px;
    font-size: 9px;
    font-weight: bold;
    border-left: 3px solid #699ecc ;
    margin-bottom: 10px;
}
.text3
{
    width: 61%;
    background-color: #e1ecf4;
    border: none;
    margin-left: 208px;
    margin-top: 30px;
    height: 97px;
    font-size: 9px;
    font-weight: bold;
    border-left: 3px solid #699ecc ;
    margin-bottom: 10px;
    /* position: relative; */
}
.text4
{
    width: 30%;
    background-color: #e1ecf4;
    border: none;
    margin-left: 0px;
    /* margin-top: 30px; */
    height: 32px;
    font-size: 9px;
    font-weight: bold;
    border-left: 3px solid #699ecc ;
}
.text5
{
    width: 61%;
    background-color: #e1ecf4;
    border: none;
    margin-left: 211px;
    /* margin-top: 30px; */
    height: 20px;
    font-size: 9px;
    font-weight: bold;
    border-left: 3px solid #699ecc ;
}
.text6
{
    width: 30%;
    background-color: #e1ecf4;
    border: none;
    margin-left: 623px;
    /* margin-top: 4px; */
    height: 37px;
    font-size: 9px;
    font-weight: bold;
    border-left: 3px solid #699ecc ;
}
.text7
{
    width: 30%;
    background-color: #e1ecf4;
    border: none;
    margin-left: 3px;
    margin-top: 30px;
    height: 43px;
    font-size: 9px;
    font-weight: bold;
    border-left: 3px solid #699ecc ;
}
.time1
{
    margin-left: 180px;
    margin-top: 30px;
    font-size: 14px;
    color: rgb(163, 159, 159);
}
.time3
{
    margin-left: 188px;
    /* margin-top: 30px; */
    font-size: 10px;
    color: rgb(163, 159, 159);
    /* float:left; */
}
.time5
{
    margin-left: 178px;
    /* margin-top: 30px; */
    font-size: 10px;
    color: rgb(163, 159, 159);
    /* float:left; */
}
.time4
{
    margin-left: 177px;
    margin-top: 30px;
    font-size: 14px;
    color: rgb(163, 159, 159);
}
.eight
{
    display: flex;
    width: 61%;
    margin-left: 181px;
    /* background-color: #e1ecf4; */
    height: 50px;
}
/* .eightone
{
    color: rgb(163, 159, 159);
    font-size: 12px;
} */
.ten12
{
    color: rgb(163, 159, 159);
}
.ten13
{
    color: rgb(163, 159, 159);
}
.half
{
    width: 55%;
}
.empty{
    height:5px;
}
.down{
    background-color: #e1ecf4;
    width:107%;
    height:15px;

}
.border
{
    border-left: 3px solid #699ecc ;
    background-color: #e1ecf4;
    margin-left: 0px;
    width: 107%;
    height:40px;
}
.review 
{
    padding-top: 12px;
}
.nine 
{
    margin-top:5px;
    padding-top: 13px;
    color: rgb(163, 159, 159);
    font-size: 12px;
}
.twelve 
{
    margin-top: 5px;
}
.twelve1 
{
    margin-top: 9px;
}
.eleven 
{
    margin-bottom: 8px;
}
.havefun
{
    display: flex;
}
.john
{
    /* display: flex; */
    background-color: #e1ecf4;
    border-left: 3px solid #699ecc;
    margin-left: 7px;
    width: 61%;
}
.number
{
    margin-left: 164px;
    color: rgb(163, 159, 159);
}
.eleven11,.twelve1 
{
    font-size: 12px;
}
.ten11 
{
    margin-left: 164px;
}
.ten14
{
    margin-left: 164px;
    color: rgb(163, 159, 159);
}
.new1 
{
    margin-left: 164px;
}
.branch
{
    background-color: #e1ecf4;
    border-left: 3px solid #699ecc; 
}
.two1
{
    display: flex;
}
.row
{
    display: flex;
    width: 61%;
    margin-left: 11%;
    /* background-color: #e1ecf4; */
    /* height: 50px; */
}
.border-half
{
    margin-top:10px;
    background-color: #e1ecf4;
    width:80%;
    height: 50px;
    border-left: 3px solid #699ecc ;
    /* margin-left: 11px; */
}
.eightone
{
    margin-top:10px;
    color: rgb(163, 159, 159);
    font-size: 12px;
}
/* .border-end{
    margin-top:10px;
    background-color: #e1ecf4;
    width:60%;
    height: 50px;
    border-left: 3px solid #699ecc ;
} */
.downs
{
    background-color: #e1ecf4;
    width:107%;
    height:35px;
    border-left: 3px solid #699ecc ;

}
.row-1
{
    margin-top:10px;
    color: rgb(163, 159, 159);
    /* font-size: 12px; */
    /* margin-left:2px; */
}
.eightones
{
    color: rgb(163, 159, 159);
    font-size: 15px;
}
/* hr
{
     color: #e7ecf3; 
}
 */
 hr.new1 
 {
    border-top: .5px solid #d5d5d5;
    width:80%;
  }

