*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.time-first
{
    font-size: 20px;
    font-weight: bold;
    margin-left: 150px;
    /* margin-top: 30px; */
}
.time
{
    margin-top: 10px;
    /* padding-top: 50px; */
}
.schedule
{
    color: rgb(199, 194, 194);
    font-size: 15px;
}
.container
{
    margin-top: 20px;
}
.container-first
{
    height:600px;
    border: 1px solid black;
    width: 93%;
    margin-left: 4%;
}
/* .top 
{
    background-color: #e1ecf4;
    width: 60%;
    margin-left: 13%;
}
.set
{
    margin-left: 20%;
} */
/* .container-first
{
    margin-left:5%;
    height:600px;
    width:93%;
    border:1px solid black;
    display: flex;
    flex-direction:row;
} */
.color
{
    background-color: #e1ecf4;
    font-size:7px;
}
#mainfirst
{
    /* flex:2%; */
    /* display: flex; */
    /* flex-direction:column; */
    font-size:12px; 
    margin-top: 15px;
    margin-bottom: 13px;
}
.flex
{
    display: flex;
}
#mainsecond
{
    /* flex:98%;    */
    display: flex;
    font-size: 12px;
}
#example1,#example4,#example3
{
    color: rgb(199, 194, 194);
    margin-left: 10%;
    
}
#example2,#example5
{
    /* background-color: red; */
    font-size: 10px;
    width: 80%;
}
#example6
{
    font-size: 10px;
    width: 80%;
    margin-bottom: 4%;
}
#example5
{
    font-size: 10px;
    width: 80%;
}
#mainthird
{
    display: flex;
    font-size:12px; 
}
#example7
{
    color: rgb(199, 194, 194);
    margin-left: 10%;
}
#example8
{
    font-size: 10px;
    width: 80%;
}
#mainfour
{
    display: flex;
    font-size: 12px;
}


