*
{
    margin: 0px;
    padding: 0px;
}
.time1
{
    color:red;
}
.eight1
{
    margin-left: 5px;
    padding: 5px;
    width: 80%;
}
.time
{
    margin-left: 10%;
    margin-top: 3%; 
    padding: 8px;
    font-size: 14px;
    width: 80%; 
    font-family:Arial, Helvetica, sans-serif;
}
